@model WebApplication1.Models.ArabaVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArabaGoster</title>
</head>
<body>
    <div> 
        @Model.araba
    </div>
</body>
</html>
